################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/out/build/x64-Debug
/.vs
/scripts
/out/build
/Objects
/Listings
/DCmcupivot.uvguix.东风谷早苗
/DCmcupivot.uvoptx
/DCmcupivot.uvprojx
/RTE
/test
